


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    
    color: #333;
    background-image: url("img/background\ image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

   
}



header,section,nav,footer{
    position: relative;
    z-index: 1;
}


header{
    background-color: #2a2a72;
    color: white;
    padding: 1rem;
    text-align: center;
}

h1{
    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}

p{
    
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
    background-color: aliceblue;
    border: 5px ;
    padding: 10px;
    margin: 25px auto;
}

article{
    
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
    right: 70%;
    left: 70%;
    background-color: aliceblue;
    width:600px;
    border: 5px solid  #2a2a72;
    padding: 10px;
    margin: 25px auto;
}


h2{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
    background-color: aliceblue;
    width:600px;
    border: 5px solid  #2a2a72;
    padding: 10px;
    margin: 25px auto;
}

a{
    text-decoration: none;
    
}

section{
    text-align: center;
}

.Navigation_tabs_container {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
}

.Navigation_tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
    text-decoration: none;
}

.Navigation_tabs:hover {
    color: white;
    background: rgba(102,177,241,0.8);
    transition: all 0.5s ease;
}

.Navigation_tabs_slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #66B1F1;
    transition: left 0.3s ease;
}

.Navigation_tabs_main {
    padding-top: 70px; /* To offset the fixed navigation */
}

.Navigation_tabs_slide {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #eee;
    text-align: center;
    padding: 2em;
}